# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# added
*.lastbuildstate
*.log
*.tlog
*.obj
*.pdb
*.idb
*.exe
*.ilk
*.opensdf
*.suo